<div class="body">
  <div class="container">
    <div class="title">Listado de Pokemon</div>
    <div class="row py-20">
      <div class="col-6">
        <input type="text" class="txt-input-search" name="search" id="search" placeholder="&#xf002; Buscar" [(ngModel)]="fieldSearch" (keyup)="searchPokemon(fieldSearch)">
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button class="btn-custom" (click)="addPokemon()"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</button>
      </div>
    </div>
    <div class="container-view">
      <table>
        <tr>
          <th>Nombre</th>
          <th>Imagen</th>
          <th>Ataque</th>
          <th>Defensa</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let item of pokemonList">
          <td>{{item.name}}</td>
          <td><img [src]="item.image" width="40" alt="img-pokemon"></td>
          <td>{{item.attack}}</td>
          <td>{{item.defense}}</td>
          <td>
            <div class="row">
              <div class="col-6 text-center">
                <a href="javascript:void(0)" class="font-size-20" title="Editar" (click)="editPokemon(item.id!)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              </div>
              <div class="col-6 text-center">
                <a href="javascript:void(0)" class="font-size-20" title="Eliminar" (click)="deletePokemon(item.id!)"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>